/* CSS absolument pas trié, un vrais bordel pour s'y retrouver amuse toi bien*/


:root {
    --main-bg-color: rgb(233, 63, 63);
    --second-color: #e8a735;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
    font-family: "Century Gothic", 'Lato', sans-serif;
}



.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 4rem;
}

.bouton {

    border-radius: 10px;
    padding: 20px;
    background: var(--second-color);
    color: white;
    border: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.44);
    transition: 0.5s;
    cursor: pointer;

}



.js-copy {
    border-radius: 10px;
    padding: 20px;
    background: var(--second-color);
    color: white;
    border: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.44);
    transition: 0.5s;
    cursor: pointer;
}

.js-copy:hover {
    transform: translateY(-10px);
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}






.text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s
}

@media(prefers-reduced-motion) {}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}




a {
    text-decoration: none;
}

/* ---------menu-------*/

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #fefefe;
    text-align: center;
    padding: 0 2em;

}

.et-hero-tabs h1 {
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 1rem;
}

.et-slide h1 {
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 0.6rem;
}

.et-hero-tabs h3 {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}


.et-slide h3 {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    opacity: 0.6;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.515);
    background: #fff;
    z-index: 10;
}

.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}

.et-hero-tab:hover {
    color: #8c0004;
    background: transparent;
    transform: translateY(-5px);
text-decoration: none;
    transition: all 0.5s ease;
}



.haut {
    background: var(--main-bg-color);
}

.haut2 {
    z-index: 2;
    max-width: 400px;
    max-height: 400px;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background: var(--main-bg-color);
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    border-bottom-left-radius: 130px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.275);

}

.maphidden {
    display: none;
}

@media (max-width: 800px) {
    .menuhidden {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -110%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #eceff17f;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #cfd8dc55;
    }


}










@media (min-width: 800px) {

    .hamhidden {
        display: none;
    }

    .et-hero-tabs h1,
    .et-slide h1 {
        font-size: 3rem;
    }

    .et-hero-tabs h3,
    .et-slide h3 {
        font-size: 1rem;
    }

    .et-hero-tab {
        font-size: 1rem;
        
    }
    .et-hero-tab-slider {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 6px;
        background: #8c0004;
        transition: left 0.3s ease;
    }


    .box2 {
        z-index: 1;
        position: absolute;
        max-width: 400px;
        width: 100%;
        margin-left: 172px;
        margin-top: 233px;
        height: 400px;
        background: var(--second-color);
        border-top-right-radius: 130px;
        box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.44);
        border-top-left-radius: 130px;
        border-bottom-right-radius: 130px;
        border-bottom-left-radius: 130px;
    }

    .box {
        position: absolute;
        max-width: 600px;
        width: 100%;
        height: 430px;
        background: var(--second-color);
        border-top-right-radius: 130px;
        box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.44);
        border-top-left-radius: 130px;
        border-bottom-right-radius: 130px;
        border-bottom-left-radius: 130px;
    }

    .services-list2 i {
        font-size: 30px;
    }

    .services-list i {
        font-size: 30px;
    }

    .services-list2 p {
        font-size: 20px;
    }

    .services-list p {
        font-size: 20px;
    }


    .services-list {
        position: absolute;
        max-width: 1000px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 100px;
        margin-top: 50px;
    }



    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .maphidden {
        display: block;
        visibility: visible;
        border: 0;
        max-width: 550px;
        min-height: 300px;
        max-height: 550px;
        width: 100%;
        height: 100%;
        margin-left: 0;
        border-radius: 15px;
        box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.321);
    }


    .services-list div {
        padding: 40px;
    }
}



/* -----FOOTER -----------*/



body .footer {

    /* border-top: solid 1px rgba(0, 0, 0, 0.425); */
    /* position: absolute; */
    color: #000000;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    z-index: 5;
    height: 100px;
}


/* autot tesxt */


.typewriter h1 {
    width: 100%;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--second-color);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret 1.25s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--second-color);
    }
}




.services-list {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10%;
    margin-top: -81px;
}



.services-list2 {

    max-width: 495px;
    width: 100%;
    float: right;
    /* margin-left: 60px; */
    display: grid;
    grid-gap: 10px;
}

.services-list2 div {
    background: var(--second-color);
    padding: 25px;
    color: #ececec;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    border-radius: 60px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.44);
}

.services-list div {
    background: var(--main-bg-color);
    padding: 0px;
    z-index: 2;
    color: #ececec;
    font-size: 13px;
    font-weight: 300;
    border-radius: 60px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.44);

}

.services-list2 div:hover {

    transform: translateY(-10px);
}

.services-list div:hover {
    background: #d61d23;
    transform: translateY(-10px);

}

.lines {
    width: 200px;
    height: 200px;

    background-image: url("https://cpwebassets.codepen.io/assets/packs/lines-3-4541e35a1939230404d773f7eeddcc9b.svg");
    background-repeat: no-repeat;
    filter: brightness(0);
}

















/* --- UTILITY CLASSES --- */

.flex-center-all {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pos-center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* ----------------------- */

.wrapper {
        position: relative;
        
}

.img-container {
    width: 60vw;
    height: 60vw;
}

img {
    border-radius: 10px;

    width: 100%;
    height: 100%;
    /*   object-fit: cover; */
}

.visible {
    display: inline;
    transition: all 0.125s;
}

.hidden2 {
    display: none;
    transition: all 0.125s;
}

.next-prev-btns {
    position: absolute;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 7vw;
    align-items: center;
}

.prev-btn-container,
.next-btn-container {
    height: 8vw;
    width: 8vw;
}

button {
    background: none;
    border: 0;
    font-size: 10vw;
    border-radius: 50%;
    background: #387ca1;
    width: 100%;
    height: 100%;
    padding-bottom: 1.25vw;
    color: #ddd;
    transition: all 0.125s;
}

button:hover {
    cursor: pointer;
    background: #54b9f0;
    color: white;
    transition: all 0.125s;
}

.img-nav-container {
    position: absolute;
    bottom: 0;
    height: 4vw;
    top: calc(50% + 33vw);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-nav-item {
    width: 4vw;
    height: 100%;
    position: relative;
}

.img-nav-item:not(:last-child) {
    margin-right: 0.5vw;
}

.inner-circle {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    background: black;
    border-radius: 50%;
    box-sizing: content-box;
    border: 0.5vw solid white;
}

.img-nav-item-selected>.inner-circle,
.img-nav-item-selected>.outer-circle {
    cursor: unset;
}

.outer-circle {
    cursor: pointer;
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    transition: background 0.125s;
}

.img-nav-item-selected>.outer-circle {
    background: #999;
    transition: background 0.125s;
}

.img-nav-item:hover>.outer-circle {
    width: 3.75vw;
    height: 3.75vw;
    background: black;
    cursor: pointer;
}

/* override */
.img-nav-item-selected:hover>.outer-circle {
    width: 3.5vw;
    height: 3.5vw;
    background: #999;
    cursor: unset;
}

/* screen is taller than wide */
/* @media (max-aspect-ratio: 100/99) { 
     .wrapper {
       background: blue;
    }
  } */

/* screen is wider than tall */
@media (min-aspect-ratio: 99/100) {
    .img-container {
        width: 100vh;
        height: 60vh;
    }

    .next-prev-btns {
        height: 10vw;
        width: 100vh;
        padding: 0 7vh;
    }

    .prev-btn-container,
    .next-btn-container {
        height: 8vh;
        width: 8vh;
    }

    button {
        font-size: 10vh;
        padding-bottom: 1.25vh;
    }

    .img-nav-container {
        height: 4vh;
        top: calc(50% + 33vh);
    }

    .img-nav-item {
        width: 4vh;
    }

    .img-nav-item:not(:last-child) {
        margin-right: 0.5vh;
    }

    .inner-circle {
        width: 2vh;
        height: 2vh;
        border: 0.5vh solid rgb(255, 255, 255);
    }

    .outer-circle {
        width: 3.5vh;
        height: 3.5vh;
    }

    .img-nav-item:hover>.outer-circle {
        width: 3.75vh;
        height: 3.75vh;
    }

    /* override */
    .img-nav-item-selected:hover>.outer-circle {
        width: 3.5vh;
        height: 3.5vh;
    }
}