/* CSS absolument pas trié, un vrais bordel pour s'y retrouver amuse toi bien*/


:root {
    --main-bg-color: rgb(233, 63, 63);
    --second-color: #e8a735;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #fefefe;
    font-family: "Century Gothic", 'Lato', sans-serif;
}



.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 4rem;
}

.bouton {

    border-radius: 10px;
    padding: 20px;
    background: var(--second-color);
    color: white;
    border: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.44);
    transition: 0.5s;
    cursor: pointer;

}



.js-copy {
    border-radius: 10px;
    padding: 20px;
    background: var(--second-color);
    color: white;
    border: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.44);
    transition: 0.5s;
    cursor: pointer;
}

.js-copy:hover {
    transform: translateY(-10px);
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}






.text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s
}

@media(prefers-reduced-motion) {}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}




a {
    text-decoration: none;
}

/* ---------menu-------*/

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #fefefe;
    text-align: center;
    padding: 0 2em;
}

.et-hero-tabs h1 {
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 1rem;
}

.et-slide h1 {
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 0.6rem;
}

.et-hero-tabs h3 {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}


.et-slide h3 {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    opacity: 0.6;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.515);
    background: #fff;
    z-index: 10;
}

.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}

.et-hero-tab:hover {
    color: #8c0004;
    transform: translateY(-10px);

    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #8c0004;
    transition: left 0.3s ease;
}




.haut {
    background: var(--main-bg-color);


}

.haut2 {
    z-index: 2;
    max-width: 400px;
    max-height: 400px;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background: var(--main-bg-color);
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    border-bottom-left-radius: 130px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.275);

}

.maphidden {
    display: none;
}

@media (min-width: 800px) {

    .et-hero-tabs h1,
    .et-slide h1 {
        font-size: 3rem;
    }

    .et-hero-tabs h3,
    .et-slide h3 {
        font-size: 1rem;
    }

    .et-hero-tab {
        font-size: 1rem;
    }


    .box2 {
        z-index: 1;
        position: absolute;
        max-width: 400px;
        width: 100%;
        margin-left: 172px;
        margin-top: 233px;
        height: 400px;
        background: var(--second-color);
        border-top-right-radius: 130px;
        box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.44);
        border-top-left-radius: 130px;
        border-bottom-right-radius: 130px;
        border-bottom-left-radius: 130px;
    }

    .box {
        position: absolute;
        max-width: 600px;
        width: 100%;
        height: 430px;
        background: var(--second-color);
        border-top-right-radius: 130px;
        box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.44);
        border-top-left-radius: 130px;
        border-bottom-right-radius: 130px;
        border-bottom-left-radius: 130px;
    }

    .services-list2 i {
        font-size: 30px;
    }

    .services-list i {
        font-size: 30px;
    }

    .services-list2 p {
        font-size: 20px;
    }

    .services-list p {
        font-size: 20px;
    }


    .services-list {
        position: absolute;
        max-width: 1000px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 100px;
        margin-top: 50px;
    }



    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .maphidden {
        display: block;
        visibility: visible;
        border: 0;
        max-width: 550px;
        min-height: 300px;
        max-height: 550px;
        width: 100%;
        height: 100%;
        margin-left: 0;
        border-radius: 15px;
        box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.321);


    }
}



/* -----FOOTER -----------*/



body .footer {

    /* border-top: solid 1px rgba(0, 0, 0, 0.425); */
    /* position: absolute; */
    color: #000000;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    z-index: 5;
    height: 100px;
}


/* autot tesxt */


.typewriter h1 {
    width: 100%;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--second-color);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret 1.25s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--second-color);
    }
}



/*------slider image -----*/




#slider {
    width: 80%;
    margin: 0px auto;
    margin-top: 100px;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    ;
}

.slide {
    width: 100%;

    display: none;
    animation-name: fade;
    animation-duration: 1s;

}

img {
    width: 100%;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    padding: 15px 10px;
    border-radius: 5px;

}

.controls:hover {
    background: white;
    transition: 0.3s;
}

.controls:active {
    color: grey;
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

#dots-con {

    text-align: center;
}

.dot {
    display: inline-block;
    background: grey;
    padding: 8px;
    border-radius: 50%;
    margin: 10px 5px;
}

.active {
    background: rgb(7, 67, 213);
}

@media (max-width:576px) {
    #slider {
        width: 100%;

    }

    .controls {
        font-size: 1em;
    }

    #dots-con {
        display: none;
    }
}






.services-list {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10%;
    margin-top: -81px;
}



.services-list2 {

    max-width: 495px;
    width: 100%;
    float: right;
    /* margin-left: 60px; */
    display: grid;
    grid-gap: 50px;
}

.services-list2 div {
    background: var(--second-color);
    padding: 25px;
    color: #ececec;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    border-radius: 60px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.44);
}

.services-list div {
    background: var(--main-bg-color);
    padding: 40px;
    z-index: 2;
    color: #ececec;
    font-size: 13px;
    font-weight: 300;
    border-radius: 60px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.44);

}

.services-list2 div:hover {

    transform: translateY(-10px);
}

.services-list div:hover {
    background: #d61d23;
    transform: translateY(-10px);

}

.lines {
    width: 200px;
    height: 200px;

    background-image: url("https://cpwebassets.codepen.io/assets/packs/lines-3-4541e35a1939230404d773f7eeddcc9b.svg");
    background-repeat: no-repeat;
    filter: brightness(0);
}