* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  color: #000000;
  /* background-image: url(/img/9B.jpg);
  background-repeat: no-repeat; */
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border-radius: 20px;
}

.container {
  padding: 20px 10%;
}

/*------------MENU---------*/
#menu {
  height: 160px;
  background: #1f2f31;
  color: #d5cfae;
}

.titre {
  text-align: center;
  font-size: 40px;
}

nav {
  position: relative;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  z-index: 1;
  padding: 1% 0;
}

nav ul li {
  display: inline;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 5px;

  background: #d5cfae;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 15px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 50px;
  margin-top: 20px;
}

.header-text span {
  color: #d5cfae;
}






.typing.animate {

  position: relative;
  margin-left: 580px;
  width: 21ch;
  border-right: 0.1em solid #d5cfae;
  
  font-size: 1.1em;
  animation: type 2s steps(20), writer 1s infinite alternate, delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.typing.animate::before { 
  content: "La Droguerie Lorguaise";
  animation: type2 1s steps(4) 3s forwards;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 21ch;
  }
}

@keyframes type2 {
  from {
    width: 16ch;
    content: "La Droguerie Lorguaise"
  }
  to {
    width: 21ch;
    content: "La Droguerie Lorguaise"
  }
}


@keyframes writer {
  50% {
    border-color: transparent;
  }
}

@keyframes delete {
  from {
    width: 20ch;
  }
  to {
    width: 10ch;
  }
}


/*-----------ARTICLE----------*/
#article {
  overflow: hidden;
  background-color: #ffffff;
  color: #d5cfae;
  height: 100vh;
}

.title-article {
  font-size: 25px;
  text-align: center;
  height: 50px;
  align-items: center;
  width: auto;
  background: #3b575c;
}
#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 20%;
  margin-top: 15%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 25vmin;
  height: 35vmin;
  object-fit: cover;
  object-position: 100% center;
}

#image-track2 {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 20%;
  margin-top: 15%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track2 > .image2 {
  width: 25vmin;
  height: 35vmin;
  object-fit: cover;
  object-position: 100% center;
}
/* --------SERVEICES-------- */

#services {
  min-height: 100vh;
}

ifram {
  width: 60%;
}

.services-list {
  display: grid;
  grid-gap: 40px;
  width: 600px;
  margin-top: 50px;
  text-align: center;
  float: right;
}

.services-list div {
  background: #1f2f31;
  color: #d5cfae;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  color: #76adce;
  font-size: 15px;
  transform: translateY(-10px);
}

/* -------ABOUT---------- */

#about {
  min-height: 100vh;
  color: #000000;
}





/* ------------CONTACT------------ */

#contact {
  min-height: 100vh;
  background: red;
}

footer {
  background: #1f2f31;
  position: relative;
  left: 0;
  height: 100px;
  bottom: 0;
  width: 100%;
}
